<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <title>F2F</title>
    <link
      rel="stylesheet"
      href="{{ url_for('static', filename='style.css') }}"
    />
    <!-- Telling Flask where to locate the CSS -->
    <!-- Custom CSS -->
    <link
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css"
      rel="stylesheet"
      integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH"
      crossorigin="anonymous"
    />
    <!-- Bootstrap CSS -->
    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.3/font/bootstrap-icons.min.css"
    />
    <!-- Bootstrap icons -->
    <script src="{{ url_for('static', filename='app.js') }}"></script>
    <!-- Telling Flask where to locate the JS -->
    <!-- Custom JS -->
    <script
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
      crossorigin="anonymous"
    ></script>
    <!-- Bootstrap JS -->
  </head>
  <body>
    <!-- Custom classes use snake case so as to not mix them up with Bootstrap-->
    <div class="container-fluid vh-100">
      <div class="row py-2">
        <div class="col text-start">
          <h1>F2F</h1>
        </div>
      </div>
      <div class="row text-center align-items-stretch overflow-hidden">
        <div class="col w-50 ms-2 p-0 align-content-center position-relative">
          <select
            class="menu_langue position-absolute top-0 start-50 translate-middle-x text-center"
            id="sourceLang"
          >
            <option value="fr">French</option>
            <option value="fro">Old French</option>
            <option value="la">Latin</option>
            <option value="grc">Ancient Greek</option>
          </select>
          <textarea
            class="text_field w-100 h-100 px-3 pt-4 pb-2 align-content-start text-start border border-secondary-subtle rounded-2"
            placeholder="Enter text here"
            id="sourceText"
          ></textarea>
        </div>
        <div class="fleche w-auto h-auto p-0 z-1 align-content-center">
          <i
            class="bi bi-arrow-left-right border border-secondary-subtle rounded-circle d-block"
            id="exchangeLanguages"
          ></i>
        </div>
        <div
          class="col w-50 h-100 me-2 p-0 align-content-center position-relative"
        >
          <select
            class="menu_langue position-absolute top-0 start-50 translate-middle-x text-center"
            id="targetLang"
          >
            <option value="fr">French</option>
            <option value="fro">Old French</option>
            <option value="la">Latin</option>
            <option value="grc">Ancient Greek</option>
          </select>
          <div
            class="text_field w-100 h-100 px-3 pt-4 pb-2 align-content-start text-start border border-secondary-subtle rounded-2"
            id="targetText"
          ></div>
        </div>
      </div>
      <div class="row">
        <div class="col col-6">
          <div
            class="mt-2 rounded-2 api-section api-section-left row overflow-hidden"
            id="sourceIPA"
          ></div>
          <div class="row">
            <select
              class="menu_periode start-50 translate-middle-x position-relative text-center"
              id="sourcePeriod"
            >
              <!-- French -->
              <option value="fr-eu">Standard European French</option>
              <option value="fr-ca">Standard Canadian French</option>
              <!-- Ancient Greek-->
              <option value="grc-cla">Classical Ancient Greek</option>
              <option value="grc-koi1">Early Koine Greek</option>
              <option value="grc-koi2">Late Koine Greek</option>
              <option value="grc-byz1">Early Byzantine Greek</option>
              <option value="grc-byz2">Late Byzantine Greek</option>
              <!-- Latin -->
              <option value="la-clas">Classical Latin</option>
              <option value="la-vul">Vulgar Latin</option>
              <option value="la-eccl">Ecclesiastical Latin</option>
              <!-- Old French -->
              <option value="fro-ear">Early Old French</option>
              <option value="fro-lat">Late Old French</option>
            </select>
          </div>
        </div>
        <div class="col col-6">
          <div
            class="mt-2 rounded-2 api-section api-section-right row overflow-hidden"
            id="targetIPA"
          ></div>
          <div class="row">
            <select
              class="menu_periode start-50 translate-middle-x position-relative text-center"
              id="targetPeriod"
            >
              <!-- Old French -->
              <option value="fro-ear">Early Old French</option>
              <option value="fro-lat">Late Old French</option>
              <!-- Ancient Greek-->
              <option value="grc-cla">Classical Ancient Greek</option>
              <option value="grc-koi1">Early Koine Greek</option>
              <option value="grc-koi2">Late Koine Greek</option>
              <option value="grc-byz1">Early Byzantine Greek</option>
              <option value="grc-byz2">Late Byzantine Greek</option>
              <!-- French -->
              <option value="fr-eu">Standard European French</option>
              <option value="fr-ca">Standard Canadian French</option>
              <!-- Latin -->
              <option value="la-clas">Classical Latin</option>
              <option value="la-vul">Vulgar Latin</option>
              <option value="la-eccl">Ecclesiastical Latin</option>
            </select>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>
